/lib
/bin/.cache
/web.config
.idea
.DS_Store
.vscode/
.github
.circleci

aspnet_client
node_modules
/tools/jsdoc_toolkit-2.4.0
/package
/tools/jsdoc_toolkit/jsdoc_toolkit-2.4.0
/.project
npm-debug.log
package-lock.json

bin/cocos2d-js-for-test.js